<p id="notice"><%= notice %></p>

<p>
  <b>Resource type:</b>
  <%= @resource_type.resource_type %>
</p>


<%= link_to 'Edit', edit_resource_type_path(@resource_type) %> |
<%= link_to 'Back', resource_types_path %>
