<p id="notice"><%= notice %></p>

<p>
  <b>Severity level:</b>
  <%= @severity_level.severity_level %>
</p>


<%= link_to 'Edit', edit_severity_level_path(@severity_level) %> |
<%= link_to 'Back', severity_levels_path %>
