<p id="notice"><%= notice %></p>

<p>
  <b>Fhir base url:</b>
  <%= @fhir_base_url.fhir_base_url %>
</p>


<%= link_to 'Edit', edit_fhir_base_url_path(@fhir_base_url) %> |
<%= link_to 'Back', fhir_base_urls_path %>
