<p id="notice"><%= notice %></p>

<p>
  <b>Update action:</b>
  <%= @update_action.update_action %>
</p>


<%= link_to 'Edit', edit_update_action_path(@update_action) %> |
<%= link_to 'Back', update_actions_path %>
