<h1>Listing activity_types</h1>

<table class="display">
    <thead>
        <tr>
            <th>Activity type</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <% @activity_types.each do |activity_type| %>
          <tr>
              <td><%= activity_type.activity_type %></td>
              <td><%= link_to 'Edit', edit_activity_type_path(activity_type) %>
                  <%= link_to 'Destroy', activity_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Activity type', new_activity_type_path %>
