<p id="notice"><%= notice %></p>

<p>
  <b>Activity type:</b>
  <%= @activity_type.activity_type %>
</p>


<%= link_to 'Edit', edit_activity_type_path(@activity_type) %> |
<%= link_to 'Back', activity_types_path %>
