<h1>Listing contact_methods</h1>

<table class="display">
    <thead>
        <tr>
            <th>Contact method</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <% @contact_methods.each do |contact_method| %>
          <tr>
              <td><%= contact_method.contact_method %></td>
              <td><%= link_to 'Edit', edit_contact_method_path(contact_method) %>
                  <%= link_to 'Destroy', contact_method, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Contact method', new_contact_method_path %>
