<p id="notice"><%= notice %></p>

<p>
  <b>Contact method:</b>
  <%= @contact_method.contact_method %>
</p>


<%= link_to 'Edit', edit_contact_method_path(@contact_method) %> |
<%= link_to 'Back', contact_methods_path %>
