<p id="notice"><%= notice %></p>

<p>
  <b>Phone provider:</b>
  <%= @phone_provider.phone_provider %>
</p>


<%= link_to 'Edit', edit_phone_provider_path(@phone_provider) %> |
<%= link_to 'Back', phone_providers_path %>
